.holder{
    background-color: whitesmoke;
    margin: 2%;
    padding: 4%;
    box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24),
    0 1.5px 6px rgba(0, 0, 0, 0.12);
    overflow: auto;
    border-radius: 2px;
    box-sizing: border-box;
}

.social-con{
    width: 17px;
    vertical-align: sub;
    padding: 2px;
    margin-left: 5px;
}

.holder > p{
    font-size: 40px;
    font-weight: lighter;
    position: relative;
    text-align: center;
}

.holder > img{
    width: 30%;
    float: left;
    vertical-align: middle;
}

.time-quote{
    font-size: 21px !important;
}

.time{
    font-size: 65px !important;
    margin: 10px 0px 20px 0px;
}