.timeline-content > h1 {
	box-sizing: border-box;
	text-align: center;
	font-weight: 300;
	color: #777;
}

.timeline-content > h1 span {
	box-sizing: border-box;
	font-weight: 600;
}

.container:first-of-type{
    margin-top: 40px;
}

.container {
	box-sizing: border-box;
	width: 80%;
	padding: 50px 0;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}

.container::before {
	box-sizing: border-box;
	content: "";
	position: absolute;
	top: 0;
	margin-left: -1px;
	left: 8px;
	width: 2px;
	height: 100%;
	background: #fd4445;
	z-index: 1;
}

.marker {
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 2px solid #f5f7fa;
	background: #0091cf;
	margin-top: 10px;
	z-index: 9999;
}

.timeline-content {
	box-sizing: border-box;
	width: 95%;
	padding: 0 15px;
	color: #666;
}

.timeline-content h3 {
	box-sizing: border-box;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 25px;
	font-weight: 500;
}

.timeline-content span {
	box-sizing: border-box;
	font-size: 15px;
	color: #a4a4a4;
}

.timeline-content p {
	box-sizing: border-box;
	font-size: 14px;
	line-height: 1.5em;
	word-spacing: 1px;
	color: #888;
}

.timeline-block {
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	clear: both;
}

.timeline-block-right {
	float: none;
}
