.navholderStyle {
    font-size: x-large;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}

.block {
    background: #eeeeee;
    color: black;
    background-image: linear-gradient(to left,transparent, transparent 50%, #fd4445 50%, #fd4445);
    transition: all 0.25s ease-in-out;
    background-position: 100% 0;
    background-size: 200% 100%;
}

.block:hover {
    transition: all 0.25s ease-in-out;
    background-position: 0 0;
    color: white;
    cursor: pointer;
}

.holderStyle{
    font-size: x-large;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 5%;
}